{% extends 'base.html' %}
{% block content %}
<script>
    document.getElementById('msg').innerHTML="<span>Post List</span>"
</script>
<div class="container">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding: 20px;">
        <a href="{% url 'posts:post_create' %}" role="button" class="btn btn-primary " style="padding: 7px;">글 작성하기</a>
    </div>
    <ul class="list-group list-group-flush">
        {% for post in posts %}
        <script> function url() {location.href="{% url 'posts:post_detail' post.pk %}"} </script>
        <li class="list-group-item" onclick="url()" style="cursor: pointer; display: flex; justify-content: space-between; align-items: center;">
            <div>
                {{ post.title }} by {{post.author}} - {{post.author.student_id}}
            </div>
            <div>
                {% if post.author.user == request.user %} 
                    <a href="{% url 'posts:post_update' post_id=post.pk %}" role="button" class="btn btn-primary" style="padding:7px; margin-right: 5px;">수정하기</a>
                    <a href="{% url 'posts:post_delete' post_id=post.pk %}" role="button" class="btn btn-danger" style="padding: 7px " >글 삭제하기</a>
                {% endif %}
            </div>
        </li>
        

        {% endfor %}
    </ul>
</div>

{% endblock %}