{% extends 'base.html' %} {% block content %} {% load static %}
<script>
  document.getElementById("msg").innerHTML = "게시글 세부 내용";
</script>
<script src="{% static 'js/tags-description.js' %}"></script>
<div class="container" style="padding: 60px">
  <div>
    {% if notice %}
    <a href="{% url 'board:noticeBoard_list' %}" class="btn btn-primary mb-3">목록으로 돌아가기</a>
    {% else %}
    <a href="{% url 'board:freeBoard_list' %}" class="btn btn-primary mb-3">목록으로 돌아가기</a>
    {% endif %}
  </div>
  {% include 'desc.html' %}
  <div class="row mb-3">
    <div class="col-md-8">
      <h1 class="d-inline">{{ board.title }}</h1>
    </div>
    <div class="col-md-4">
      <p class="d-inline"><strong>게시일:</strong> {{ board.created_date|date:"Y-m-d" }}</p>
      <p class="d-inline ms-3"><strong>작성자:</strong> {{ board.author.user.last_name }}{{ board.author.user.first_name }} - {{ board.author.student_id }}</p>
    </div>
  </div>
  <hr />
  <div class="post-detail">
    <div class="content">{{board.content | safe}}</div>
  </div>
</div>
{% endblock %}
