{% extends 'base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" />

<script>
  document.getElementById("msg").innerHTML = `
    {% if type == 0 %}
    공지사항
    {% elif type == 1 %}
    스터디 모집
    {% elif type == 2 %}
    자유게시판
    {% endif %}`;

  function onDelete() {
    if (confirm("게시물을 삭제하시겠습니까?")) {
      return true;
    } else {
      return false;
    }
  }
  document.addEventListener("DOMContentLoaded", (event) => {
    if (window.location.pathname === "/boards/notice/") {
      let reportIcon = document.querySelector(".fas.fa-book");
      if (reportIcon) {
        reportIcon.className = "fas fa-exclamation-circle";
      }
    } else {
      let reportIcon = document.querySelector(".fas.fa-book");
      reportIcon.className = "fas fa-chalkboard";
    }
  });
</script>
<script src="{% static 'js/tags-description.js' %}"></script>
<div class="container" style="padding: 60px">
  {% include 'desc.html' %}
  <div class="d-grid gap-1 d-md-flex justify-content-md-end" style="padding: 10px">
    {% if notice %} {% if request.user.is_superuser %}
    <i class="bi bi-pencil-square"></i><a href="./board_create/" style="color: black; font-weight: bold; text-decoration: none">글쓰기</a>
    {% endif %} {% else %}
    <i class="bi bi-pencil-square"></i><a href="./board_create/" style="color: black; font-weight: bold; text-decoration: none">글쓰기</a>
    {% endif %}
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" style="color: gray">-</th>
        <th scope="col" style="color: gray">글 제목</th>
        <th scope="col" style="width: 80px; text-align: right"></th>
        <th scope="col" style="width: 120px; text-align: right"></th>
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
      <tr>
        <td scope="row" onclick="location.href='./{{ board.pk }}/'" style="cursor: pointer">{{ forloop.revcounter }}</td>
        <td onclick="location.href='./{{ board.pk }}/'" style="font-weight: bold; cursor: pointer">
          {{ board.title }} <span style="color: red">[{{ board.comments.count }}]</span>
        </td>
        <td onclick="location.href='./{{ board.pk }}/'" style="text-align: right; cursor: pointer">
          <span style="color: gray">{{ board.author.user.last_name }}{{ board.author.user.first_name }}</span>
        </td>
        <td style="text-align: right">
          {% if board.author.user == request.user %} {% if notice %}
          <i class="bi bi-pencil"></i><a href="./{{ board.pk }}/update/" style="color: gray; font-weight: bold; text-decoration: none">수정</a>
          <i class="bi bi-trash3"></i
          ><a onclick="return onDelete();" href="./{{ board.pk }}/delete/" style="color: gray; font-weight: bold; text-decoration: none">삭제</a>
          {% else %}
          <i class="bi bi-pencil"></i><a href="./{{ board.pk }}/update/" style="color: gray; font-weight: bold; text-decoration: none">수정</a>
          <i class="bi bi-trash3"></i
          ><a onclick="return onDelete();" href="./{{ board.pk }}/delete/" style="color: gray; font-weight: bold; text-decoration: none">삭제</a>
          {% endif %} {% else %}
          <span style="color: gray">
            {% now "Y-m-d" as today %} {% if board.created_date|date:"Y-m-d" != today %}
            <span>{{ board.created_date | date:"Y.m.d" }}</span>
            {% else %}
            <span>{{ board.created_date | date:"H:i" }}</span>
            {% endif %}
          </span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
