{% extends 'base.html' %} {% block content %} {% load static %}
<script>
  document.getElementById("msg").innerHTML = "게시글 세부 내용";
</script>
<script src="{% static 'js/tags-description.js' %}"></script>
<div class="container" style="padding: 60px">
  <div>
    {% if notice %}
    <a href="{% url 'board:noticeBoard_list' %}" class="btn btn-primary mb-3">목록으로 돌아가기</a>
    {% else %}
    <a href="{% url 'board:freeBoard_list' %}" class="btn btn-primary mb-3">목록으로 돌아가기</a>
    {% endif %}
  </div>
  <div style="margin-block: 20px">
    <div style="font-size: 2.5rem; font-weight: bold">{% if notice %}※{% endif %} {{ board.title }}</div>
    <div style="text-align: right; margin-block: 20px">
      <span>{{ board.author.user.last_name }}{{ board.author.user.first_name}}({{ board.author.student_id }}) </span>
      <span style="padding-inline: 5px; color: gray">|</span>
      <span style="font-weight: bold">{{ board.created_date | date:"Y-m-d H:i:s" }}</span>
    </div>
  </div>
  <hr />
  <div class="post-detail" style="margin-block: 30px">
    <div class="content">{{board.content | safe}}</div>
  </div>
<form method="POST">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">댓글 작성</button>
</form>
<br>
<hr>
{% for comment in board.comments.all %}
    <p>{{ comment.commenter }}: {{ comment.content }}</p> 
    {% if request.user == comment.commenter.user or request.user.is_superuser %}
    <form action="{% url 'board:comment_delete' comment.id %}" method="POST" style="display: inline;">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('댓글을 삭제하시겠습니까?');">삭제</button>
    </form>
{% endif %}
{% endfor %}
</div>
{% endblock %}
