<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Books List</title>
    </head>
    <body>
        <h1>Books List</h1>
        <ul>
            {% for book in books %}
            <li>
                <div>
                    <strong>Title:</strong> {{ book.title }}<br />
                    <strong>Author:</strong> {{ book.author }}
                </div>
                <div>
                    <strong>Mentor(s):</strong>
                    <ul>
                        {% for mentorship in book.mentorship_set.all %}
                        <li>{{ mentorship.mentor.user.username }}</li>
                        {% empty %}
                        <li>No mentors have applied.</li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            {% empty %}
            <li>No books have been added yet.</li>
            {% endfor %}
        </ul>
    </body>
</html>
