{% load django_bootstrap5 %} {% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, shrink-to-fit=no" />
    <title>SYU CSDC</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    {% bootstrap_javascript %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% include 'nav.html' %}
    <div id="holder">
      <div id="msg"></div>
    </div>
    <main role="main">{% block content %} {% endblock %}</main>
    {% include 'footer.html' %}
    <script src="{% static 'js/effect.js' %}"></script>
  </body>
</html>
