{% load django_bootstrap5 %}

<div class="footer">
  <div class="flex-1">
    <span class="logo" style="color: white">© 2024 CSDC.</span>
    <ul class="flex-2">
      <li class="nav-item">
        <button class="nav-link btn btn-link active" onclick="location.href='/'" style="color: rgb(255, 255, 255)">Home</button>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <form action="{% url 'user:logout' %}" method="post" style="display: inline">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.path }}" />
          <button type="submit" class="nav-link btn btn-link" style="color: rgb(255, 255, 255)">Logout</button>
        </form>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-link active" href="https://open.kakao.com/o/se3cLvdg" style="color: rgb(255, 255, 255)">FAQ</a>
      </li>
      {% else %}
      <li class="nav-item">
        <button class="nav-link btn btn-link active" onclick="location.href='/users/login'" style="color: rgb(255, 255, 255)">Sign In</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn btn-link active" onclick="location.href='/users/register'" style="color: rgb(255, 255, 255)">Sign Up</button>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-link active" href="https://open.kakao.com/o/se3cLvdg" style="color: rgb(255, 255, 255)">FAQ</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
<div class="sponsor">
  <span class="sponsor-text" style="color: white">Powered by</span>
  <div class="sponsor-img-cloud">
    <img src="https://t1.kakaocdn.net/kakaoicloud/portal/images/logo_black_230116.png" width="160" />
  </div>
</div>
