{% load django_bootstrap5 %}

<footer>
  <div class="footer-menu">
    <div class="flex-1">
      <span class="logo">© 2024 CSDC.</span>
    </div>
    <div class="flex-1">
      <ul class="flex-2">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <form action="{% url 'user:logout' %}" method="post" style="display: inline">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}" />
            <button type="submit" class="nav-link btn btn-link">로그아웃</button>
          </form>
        </li>
        {% else %}
        <li class="nav-item">
          <button class="nav-link btn btn-link" onclick="location.href='/users/login/'">로그인</button>
        </li>
        <li class="nav-item">
          <button class="nav-link btn btn-link" onclick="location.href='/users/register/'">회원가입</button>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="https://open.kakao.com/o/se3cLvdg">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/privacypolicy/">개인정보처리방침</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tos/">이용약관</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-sponsor">
    <span>Powered by</span>
    <div class="footer-sponsor-img-cloud">
      <img src="https://t1.kakaocdn.net/kakaoicloud/portal/images/logo_black_230116.png" width="160" />
    </div>
  </div>
</footer>
