{% load django_bootstrap5 %} {% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>SYU CSDC</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}" />
    {% bootstrap_javascript %}
    <style>
      body {
        background-color: #000011;
      }
      @keyframes fade {
        0%,
        100% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
      }
    </style>
  </head>
  <body>
    {% include 'nav.html' %}
    <header>
      <div style="height: 100vh">
        <div class="msg">
          <h1>SYU CSDC</h1>
        </div>
      </div>
      <div
        style="position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); color: white; font-weight: bold; animation: fade 6s linear infinite"
      >
        Tips. 상단 바에 마우스를 드래그 시, 메뉴바가 표시됩니다.
      </div>
    </header>
    <canvas id="networkCanvas"></canvas>
    <script type="module" src="{% static 'js/parallax.js' %}"></script>
    <main class="sticky-container" id="sticky-container">
      <div class="sticky">
        <div class="slide-container">
          <div id="scroll-down"></div>
          <div class="slide" id="slide1" style="color: white; text-align: left; padding: 60px; justify-content: left">
            <h1><a href="{% url 'report:book_request' %}" style="color: white; text-decoration: none">도서 신청</a></h1>
            <div class="container">
              <div style="font-size: 20pt; font-weight: bold; margin-block: 20px">
                <i class="bi bi-info-circle"></i>
                도서 신청 페이지입니다.
              </div>
              <hr />
              <div style="color: gray; margin: 15px">
                독서는 마음에 양식을 제공하고, 생각의 지평을 넓혀주며, 삶의 깊이를 더해줍니다. 마르셀 프루스트는 "진정한 독서의 발견은 다시 읽을 때가 아니라,
                다른 시각으로 읽을 때 발생한다"고 말했습니다. 이는 책을 통해 우리가 세상을 바라보는 방식이 변화할 수 있음을 의미합니다. 책 속에는 삶의 의미를
                찾고, 자신만의 길을 모색하는 데 도움이 되는 무수한 지혜와 통찰이 담겨 있습니다. 독서는 단순히 지식을 얻는 행위를 넘어서, 우리의 내면을
                성장시키고, 새로운 가능성의 세계를 열어주는 소중한 과정입니다.
              </div>
            </div>
          </div>

          <div class="slide" id="slide2" style="color: white; text-align: right; padding: 60px; position: absolute; right: 0">
            <h1><a href="{% url 'mentorship:create_mentorship_request'%}" style="color: white; text-decoration: none">멘토쉽 신청</a></h1>
            <div class="container" style="text-align: right">
              <div style="font-size: 20pt; font-weight: bold; margin-block: 20px">
                <i class="bi bi-info-circle"></i>
                멘토쉽 신청 페이지입니다.
              </div>
              <hr />
              <div style="color: gray; margin: 15px">
                멘토쉽은 지식과 경험을 공유하는 과정에서 삶의 깊이를 발견하는 여정입니다. "우리는 서로의 등불이 되어, 함께 성장의 길을 밝힌다"는 말처럼, 멘토와
                멘티 관계는 상호 성장을 촉진하는 강력한 동력입니다. 아이작 뉴턴은 "거인의 어깨 위에 올라서서 더 멀리 볼 수 있었다"고 했는데, 이는 멘토쉽의
                본질을 잘 나타냅니다. 멘토는 멘티가 자신의 잠재력을 최대한 발휘하도록 돕고, 멘티는 새로운 관점과 도전을 통해 멘토에게도 새로운 성찰의 기회를
                제공합니다. 멘토쉽은 단순한 지식 전달이 아닌, 삶의 지혜와 가치를 나누는 귀중한 과정입니다.
              </div>
            </div>
          </div>

          <div class="slide" id="slide3" style="color: white; text-align: left; padding: 60px">
            <h1><a href="{% url 'board:freeBoard_list'%}" style="color: white; text-decoration: none">자유 게시판</a></h1>
            <div class="container">
              <div style="font-size: 20pt; font-weight: bold; margin-block: 20px">
                <i class="bi bi-info-circle"></i>
                자유 게시판 페이지입니다.
              </div>
              <hr />
              <div style="color: gray; margin: 15px">
                의견을 나누는 과정은 서로의 관점을 넓히고 이해의 폭을 깊게 하는 소통의 예술입니다. "진정한 소통은 서로의 차이를 이해하려는 노력에서 시작된다"는
                말은, 의견 교환의 본질이 상대방의 견해를 존중하고 이해하려는 데 있음을 강조합니다. 플라톤은 "지혜는 대화 속에서 태어난다"고 말했습니다. 이는
                생각을 나누며 서로 다른 관점을 조화롭게 통합하는 과정에서 깊은 통찰이 생겨남을 의미합니다. 또한, "서로의 생각을 공유함으로써 우리는 더 큰 이해와
                지식의 세계로 나아간다"는 말처럼, 의견을 나누는 것은 개인적 성장과 집단의 진보를 이끄는 중요한 도구입니다.
              </div>
            </div>
          </div>
          <div class="slide" id="slide4" style="color: white; text-align: right; padding: 60px; position: absolute; right: 0">
            <h1><a href="{% url 'report:report_create' %}" style="text-decoration: none; color: white">레포트 제출</a></h1>
            <div class="container">
              <div style="font-size: 20pt; font-weight: bold; margin-block: 20px">
                <i class="bi bi-info-circle"></i>
                레포트 제출 페이지입니다.
              </div>
              <hr />
              <div style="color: gray; margin: 15px">
                레포트 작성은 지식을 정제하고 전달하는 과정에서 깊이 있는 학습이 이루어집니다. "레포트를 작성하는 행위는 생각을 명확하게 하는 과정"이라는 말은,
                복잡한 정보를 정리하고 분석함으로써 우리의 이해가 깊어진다는 것을 의미합니다. 프랜시스 베이컨은 "지식은 공유될 때 힘을 발휘한다"고 말했는데,
                이는 레포트를 통해 얻은 통찰을 다른 이와 나누며 그 가치가 배가된다는 사실을 강조합니다. 또한, "레포트는 생각의 거울이다. 그것을 통해 우리는
                자신의 지식과 이해의 현황을 비춰볼 수 있다"는 말처럼, 레포트 작성 과정은 자기 성찰의 기회를 제공하며, 이는 학습자로 하여금 자신의 지식을 깊게
                되돌아보게 합니다.
              </div>
            </div>
          </div>
          <!-- <div class="slide slide-left" id="slide5"></div> -->
        </div>
      </div>
    </main>
    <div style="text-align: center; color: white; font-weight: bold; padding: 30px">
      본 사업은 컴퓨터공학부와 빅데이터클라우드학과의 지원을 받아 제작되었습니다.
    </div>
    {% include 'footer.html' %}
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/network.js' %}"></script>
    <script src="{% static 'js/tags-description.js' %}"></script>
  </body>
</html>
