<style>
  .breathing-effect {
  display: inline-block;
  animation: breath-animation 2s ease-out infinite;
}

@keyframes breath-animation {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.05); }
}
</style>

<nav class="navbar navbar-expand-md navbar-light bg-light" style="padding-inline: 60px">
  <div class="container-fluid">
    <a href="/"><img src="/static/csdc-kr.png" height="42" /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-three-dots"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="font-weight: bold">
     <a href="/chat/" class="breathing-effect" style="text-decoration: none; color: black;">Chat-GPT</a>
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item dropdown">
          <button class="nav-link btn btn-link dropdown-toggle active" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">게시판</button>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'board:noticeBoard_list' %}">공지사항</a></li>
            <li><a class="dropdown-item" href="{% url 'board:studyBoard_list' %}">스터디 모집</a></li>
            <li><a class="dropdown-item" href="{% url 'board:freeBoard_list' %}">자유게시판</a></li>
            <li><a class="dropdown-item" href="{% url 'board:questionBoard_list' %}">질문게시판</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <button class="nav-link btn btn-link dropdown-toggle active" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">도서</button>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'report:book_request' %}">도서 신청</a></li>
            <li><a class="dropdown-item" href="{% url 'report:book_list' %}">신청 도서 목록</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <button class="nav-link btn btn-link dropdown-toggle active" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">멘토쉽</button>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'mentorship:create_mentorship_request' %}">멘토쉽 신청</a></li>
            <li><a class="dropdown-item" href="{% url 'mentorship:list_mentorships' %}">멘토쉽 현황 게시판</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <button class="nav-link btn btn-link dropdown-toggle active" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">레포트</button>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'report:report_create' %}">레포트 작성</a></li>
            <li><a class="dropdown-item" href="{% url 'report:report_list' %}">레포트 목록</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <button class="nav-link btn btn-link dropdown-toggle active" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">내정보</button>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="dropdown-item" href="/about/">프로필</a></li>
            <li class="nav-item">
              <form action="{% url 'user:logout' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}" />
                <button type="submit" class="dropdown-item">로그아웃</button>
              </form>
            </li>
            {% else %}
            <li class="nav-item"><a class="dropdown-item" href="{% url 'user:login' %}">로그인</a></li>
            <li class="nav-item"><a class="dropdown-item" href="{% url 'user:register' %}">회원가입</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
