{% extends 'base.html' %}
{% block content %}

<body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <script>
        document.getElementById('msg').innerHTML="<span >Mentorships Create</span>"
    </script>
    <div class="container" style="padding: 60px;">
        <div style="margin: 25px">
            <div style="font-size: 25pt; font-weight: bold; margin-block: 15px">
              <i class="bi bi-info-circle"></i>
              멘토쉽 신청 페이지 입니다.
            </div>
            <div style="color: gray; margin: 15px">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
              into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
              passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>
        <hr />
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.mentee }}
                <small class="form-text text-muted">{{ form.mentee.help_text }}</small>
            </div>
            <div class="form-group">
                {{ form.book }}
            </div>
            <div class="form-group">
                {{ form.start_date }}
            </div>
            <div class="form-group">
                {{ form.end_date }}
            </div>
            <div class="form-group">
                {{ form.status }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
{% endblock %}
