{% extends 'base.html' %} {% load widget_tweaks %} {% load static %} {% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />

<script>
  document.getElementById("msg").innerHTML = "멘토쉽 신청";
</script>
<script src="{% static 'js/tags-description.js' %}"></script>

<div class="container" style="padding: 60px">
  <div style="margin: 25px">
    <div style="font-size: 25pt; font-weight: bold; margin-block: 15px">
      <i class="bi bi-info-circle"></i>
      멘토쉽 신청 페이지 입니다.
    </div>
    <div class="tags-description" style="color: gray; margin: 15px"></div>
  </div>
  <hr />
  <div style="margin: 25px">
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        {{ form.mentee | add_class:"form-select" }}
        <small class="form-text text-muted">{{ form.mentee.help_text }}</small>
      </div>
      <div class="mb-3">{{ form.book | add_class:"form-select" }}</div>
      <div class="mb-3">{{ form.start_date | add_class:"form-control" }}</div>
      <div class="mb-3">{{ form.end_date | add_class:"form-control" }}</div>
      <div class="mb-3">{{ form.status | add_class:"form-select" }}</div>
      <button type="submit" class="btn btn-primary" style="float: right">신청</button>
    </form>
  </div>
</div>
{% endblock %}
