{% extends 'base.html' %} {% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />

<script>
  document.getElementById("msg").innerHTML = "멘토쉽 목록";
</script>

<div class="container" style="padding: 60px">
  <div style="margin: 25px">
    <div style="font-size: 25pt; font-weight: bold; margin-block: 15px">
      <i class="bi bi-info-circle"></i>
      멘토쉽 목록 페이지 입니다.
    </div>
    <div style="color: gray; margin: 15px">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
      into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
      passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>
  </div>
  <hr />
  <div class="table-responsive-lg">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">멘토</th>
          <th scope="col">멘티</th>
          <th scope="col">활동 상태</th>
          <th scope="col">시작 날짜</th>
          <th scope="col">종료 날짜</th>
          <th scope="col">책 제목</th>
          <th scope="col">저자</th>
          <th scope="col">관리</th>
        </tr>
      </thead>
      <tbody>
        {% for mentorship in mentorships %}
        <tr>
          <td>{{ mentorship.mentor.user.last_name }}{{ mentorship.mentor.user.first_name }}</td>
          <td>{{ mentorship.mentee.user.last_name }}{{mentorship.mentee.user.first_name }}</td>
          <td>{{ mentorship.status }}</td>
          <td>{{ mentorship.start_date }}</td>
          <td>{{ mentorship.end_date }}</td>
          <td>{{ mentorship.book.title }}</td>
          <td>{{ mentorship.book.author }}</td>
          <td>
            {% if request.user.userprofile.role == 'Mentor' and mentorship.mentor.user == request.user %}
            <a href="{% url 'mentorship:edit_mentorship' pk=mentorship.pk %}">수정하기</a>
            <form method="post" action="{% url 'mentorship:delete_mentorship' pk=mentorship.pk %}" style="display: inline">
              {% csrf_token %}
              <button type="submit" style="background: none; border: none; padding: 0; color: #007bff; cursor: pointer">삭제하기</button>
            </form>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock %}
</div>
