{% extends 'base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" />
<script>
  document.getElementById("msg").innerHTML = "멘토쉽 목록";
</script>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    let report = document.querySelector('.fas.fa-book');
      report.className = 'fas fa-chalkboard-teacher'; 
  });
</script>
<script src="{% static 'js/tags-description.js' %}"></script>

<div class="container" style="padding: 60px">
  {% include 'desc.html' %}
  <div class="table-responsive-lg">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">멘토</th>
          <th scope="col">멘티</th>
          <th scope="col">활동 상태</th>
          <th scope="col">시작 날짜</th>
          <th scope="col">종료 날짜</th>
          <th scope="col">책 제목</th>
          <th scope="col">저자</th>
          <th scope="col">관리</th>
        </tr>
      </thead>
      <tbody>
        {% for mentorship in mentorships %}
        <tr>
          <td>{{ mentorship.mentor.user.last_name }}{{ mentorship.mentor.user.first_name }}</td>
          <td>
            {% with mentorship.mentee.all as mentees %} {% if mentees|length > 0 %} {{ mentees.0.user.last_name }}{{ mentees.0.user.first_name }} 
            {% if mentees|length > 1 %} 외 {{ mentees|length|add:"-1" }}명 {% endif %} {% else %} 멘티 없음 {% endif %} {% endwith %}
          </td>
          <td>{% if mentorship.status == 'Active' %} <div style="color: blue;">활동</div> {% elif mentorship.status == 'Completed' %} <div style="color: green;">완료</div> {% else %} <div style="color: gray;">보류</div> {% endif %}</td>
          <td>{{ mentorship.start_date }}</td>
          <td>{{ mentorship.end_date }}</td>
          <td>{{ mentorship.book.title }}</td>
          <td>{{ mentorship.book.author }}</td>
          <td>
            {% if request.user.userprofile.role == 'Mentor' and mentorship.mentor.user == request.user %}
            <a href="{% url 'mentorship:edit_mentorship' pk=mentorship.pk %}">수정하기</a>
            <form method="post" action="{% url 'mentorship:delete_mentorship' pk=mentorship.pk %}" style="display: inline">
              {% csrf_token %}
              <button type="submit" style="background: none; border: none; padding: 0; color: #007bff; cursor: pointer">삭제하기</button>
            </form>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock %}
</div>
