@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.bg-light {
  background-color: #f7f6f6 !important;
}
#holder {
  position: relative;
  height: 500px;
  background-color: black;
}
#msg {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "NanumSquare", sans-serif;
}

.footer {
  display: flex;
  justify-content: center;
  padding-inline: 40px;
  font-size: 15pt;
  font-weight: 300;
  font-family: "Noto Sans KR", serif;
}

@media (width < 768px) {
  .footer {
    flex-direction: column-reverse;
  }
}

.logo {
  font-weight: bold;
}

ul {
  list-style: none;
}

.flex-1 {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.flex-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-2 > li {
  margin-inline: 10px;
}

.sponsor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-block: 20px;
  font-size: 15pt;
  font-weight: 300;
  font-family: "Noto Sans KR", serif;
}

.sponsor-img-cloud {
  padding-inline: 6px;
  max-width: 131px;
  overflow: hidden;
}

.sponsor-img-school {
  padding-inline: 4px;
  max-width: 144px;
  overflow: hidden;
}

.sponsor img {
  display: flex;
  flex-wrap: wrap;
  max-width: initial;
}
