@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.bg-light {
  background-color: #f7f6f6 !important;
}

#holder {
  position: relative;
  height: 500px;
  background-color: black;
}

#msg {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "NanumSquare", sans-serif;
}

@media (width < 768px) {
  .container {
    max-width: 720px;
  }

  img {
    width: 100% !important;
  }
}
